@import "../init";
.page-stared {
    .action-event {
        &.hide {
            .btn {
                transform: translateY(43px);
            }
            .text-support {
                opacity: 0;
                visibility: hidden;
            }
        }
        .btn {
            transition: $transition;
        }
        .text-support {
            margin-top: 30px;
            transition: $transition;
        }
    }
    .started-slider {
        &__images {
            padding-bottom: 40px;
            .swiper-pagination {
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 15px;
                &-bullet {
                    width: 6px;
                    height: 6px;
                    background: #919191;
                }
                &-bullet-active {
                    width: 8px;
                    height: 8px;
                    background: #4e4e56;
                }
            }
        }
        .text-content {
            &__title {
                line-height: 20px;
            }
            &__body {
                line-height: 20px;
                color: $gray-800;
            }
        }
    }
}